*{
	padding: 0px;
	margin: 0px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: blue;
}

a:visited{
	text-decoration: none;
	color: blue;
}


header{
	width: 100%;
	/*background-image: url('/bundles/gggnotices/images/back_header.png');
	background-repeat: no-repeat;
	background-size: 120% 100%;*/
	color: #22A;
	font-size: 30px;
	padding: 0px;
	text-align: center;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #559;
	font-family: "Times New Roman", "Calibri Light", sans-serif;
	margin: 0px;
	background-color: #00A0C5;
	background: -webkit-linear-gradient(white, rgba(169,207,226,0.3), rgba(169,207,240,0.5), rgba(169,207,226,0.3), white); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(white, rgba(169,207,226,0.3), rgba(169,207,240,0.5), rgba(169,207,226,0.3), white); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(white, rgba(169,207,226,0.3), rgba(169,207,240,0.5), rgba(169,207,226,0.3), white); /* For Firefox 3.6 to 15 */
 	background: linear-gradient(white, rgba(169,207,226,0.3), rgba(169,207,240,0.5), rgba(169,207,226,0.3), white);
}

header img{
	width: 128px;
	height: 128px;
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
}

.wrapper{
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	font-family: "Calibri Light", sans-serif;
	font-size: 16px;
	text-align: center;
}

.menu{
	width: 50%;
	margin-left: 60%;
}

.menu ul{
	list-style-type: none;
	text-align: right;
	width: 50%;
	right: 10%;
}

.menu li{
	display: inline;
	list-style-type: none;
	margin-left: 10px 0 0 0;
	padding: 3px;
	color: blue;
	font-size: 19px;
}

.menu li a:hover{
	text-decoration: none;
	color: #D1003E;
}

.menu li a:visited{
	text-decoration: none;
	color: #D1003E;
}

ul{
	list-style-type: none;
	text-align: left;
}

h1{
	color: #E7A;
	font-size: 18px;
	padding: 2px;
	margin: 5px;
	text-align: left;
}


.erreur{
	background-color: #F60;
	border: solid 0px black;
	border-radius: 2px;
	padding: 6px;
	font-size: 13px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	color: #FFE;
}


.info{
	color: #222;
	background-color: #EEF;
	border: solid 0px #66D;
	border-radius: 2px;
	padding: 10px;
	font-size: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	/*width: 80%;
	*/
}