{% extends "GGGNoticesBundle:Default:layout.html.twig" %}


{% block title %}
Page des inscriptions
{% endblock %}


{% block wrapper %}
<h1>Créer votre compte pour consulter les notices, recevoir des alertes sur la parution des notices, etc.</h1>
{% endblock %}